<router-outlet></router-outlet>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <h3 class="text-center mb-4">Players List (Used Custom Pipes)</h3>
            <input type="text" name="nm" id="name" class="form-control mb-3" [(ngModel)]="SearchName"
                placeholder="Search Name (By Custom Pipe)" autocomplete="off">
            <table class="table border table-striped table-bordered">
                <thead>
                    <th>Name</th>
                    <th>DOB (By Custom Pipe added Slash)</th>
                    <th>Age(By Custom Pipe)</th>
                    <th>Team</th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of PlayersData | filterData:SearchName">
                        <td>{{data.name}}</td>
                        <td>{{data.dob | addSlashPipe}}</td>
                        <td>{{data.dob | agePipe}}</td>
                        <td>{{data.team}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>